html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, select {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
    outline: none;
}
/*RESET*/

/*FONTS*/
@font-face {
    font-family: 'Avalon';
    src: url('../fonts/AvalonMedium.eot');
    src: url('../fonts/AvalonMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvalonMedium.woff') format('woff'),
        url('../fonts/AvalonMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TornadoCyr';
    src: url('../fonts/TornadoCyr-Thin.eot');
    src: url('../fonts/TornadoCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TornadoCyr-Thin.woff') format('woff'),
        url('../fonts/TornadoCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GoodVibesPro';
    src: url('../fonts/GoodVibesPro.eot');
    src: url('../fonts/GoodVibesPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoodVibesPro.woff') format('woff'),
        url('../fonts/GoodVibesPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeksaPro';
    src: url('../fonts/LeksaPro.eot');
    src: url('../fonts/LeksaPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LeksaPro.woff') format('woff'),
        url('../fonts/LeksaPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*FONTS*/

/*GENERAL*/
body {
    font: 14px/16px 'LeksaPro';
    color: #000;
    background: #fff;
}
a {
    text-decoration: none;
    outline: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
select::-ms-expand {display: none;}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {font-size: 0;}
input:focus::-o-placeholder,
textarea:focus::-o-placeholder {
    font-size: 0;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {font-size: 0;}
input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {font-size: 0;}
.list-inline {margin-left: 0px; }
/*GENERAL*/
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.page1 {
    background: url(../images/page1.jpg) no-repeat;
    background-size: cover;
}
.page2 {
    background: url(../images/page2.jpg) no-repeat;
    background-size: cover;
}
.page3 {
    background: url(../images/page3.jpg) no-repeat;
    background-size: cover;
}
.page4 {
    background: url(../images/page4.jpg) no-repeat;
    background-size: cover;
    background-position: top -70px center !important;
}
.page5 {
    background: url(../images/page5.jpg) no-repeat;
    background-size: cover;
    background-position: top -70px center !important;
}
.page6 {
    background: url(../images/page6.jpg) no-repeat;
    background-size: cover;
}
.page6 h2 {
    background: rgba(35,42,63,0.8) !important;
    color: #fff !important;
    font-size: 60px !important;
    line-height: 62px !important; 
}
.page6 .link_button {
    color: #fff;
    border: 1px solid #fff; 
}
.page7 {
    background: url(../images/page7.jpg) no-repeat;
    background-size: cover;
}
.section {
    background-position: center;
}
.logo {
    display: block;
    max-width: 270px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 70px;
    right: 0;
}
.logo img {
    width: 100%;
    height: auto;
}
.page1 h1,
.section h2 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    color: #000;
    font-size: 52px;
    line-height: 56px;
    margin: 0 auto;
    font-family: 'GoodVibesPro';
}
.page1 h1 {
    color: #000;
    letter-spacing: 5px;
    background: rgba(255,255,255,.7);
    width: 80%;
    padding: 30px 10px; 
    position: absolute;
    bottom: 45px;
    top: auto;
    transform: none;
}
.section h2 {
    top: auto;
    bottom: 0px;
    transform: none;
    font-size: 52px;
    line-height: 56px;
    max-width: 1720px;
    width: 100%;
    padding: 25px 10px 20px;
    background: rgba(255,255,255,0.7);
    letter-spacing: 3px;
}
.page1 h1 i,
.fp-tooltip i {font-style: normal;}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: 0 !important;
    top: 140px !important;
    bottom: auto !important;
    left: 420px;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    max-width: 1400px;
    width: 100%;
}
#fp-nav ul {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
#fp-nav ul li {
    display: block;
    width: 100%;
    height: 45px;
    margin: 0;
    margin-right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 0;
}
#fp-nav ul li:first-child {
    display: none;
}
#fp-nav ul li:nth-child(2) {
    width: 103px;
    margin-right: 108px;
}
#fp-nav ul li:nth-child(3) {
    width: 103px;
    margin-right: 100px;
}
#fp-nav ul li:nth-child(4) {
    width: 203px;
    margin-right: 80px;
}
#fp-nav ul li:nth-child(5) {
    width: 170px;
    margin-right: 80px;
}
#fp-nav ul li:nth-child(6) {
    width: 160px;
    margin-right: 100px;
}
#fp-nav ul li:nth-child(7) {
    width: 330px;
    margin-right: 100px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    display: none;
    background: #fff;
}
#fp-nav ul li .fp-tooltip {
    opacity: 0.6;
    width: 100%;
    font: 35px/46px 'GoodVibesPro';
    padding: 4px 7px 0;
    position: relative;
    background: #fff;
    color: #000;
    left: 0;
    text-align: center;
    letter-spacing: 1px;
    max-width: 100%;
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip {
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    width: 100%;
    opacity: 1;
}
#fp-nav ul li .active ~ .fp-tooltip {
    opacity: 1;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
    display: none;
}
.mouse {
    display: block;
    width: 50px;
    height: auto; 
    position: absolute;
    bottom: 30px;
    left: 0; 
    right: 0;
    margin: 0 auto;
}
.description {
    display: block;
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.description h2 {
    position: relative;
    transform: translateY(0);
    margin-bottom: 0px;
    bottom: 0;
}
.page4 .description,
.page5 .description {
	bottom: 10px;
}
.page4 .description h2,
.page5 .description h2 {
	padding: 15px;
}
.link_button {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 20px;
    transition: all 0.3s;
    font-family: 'TornadoCyr';
    width: 140px;
    margin: 15px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.link_button i {font-size: 16px;}
.link_button:hover {background: #e8e3b5;}
.leaf-page {
    background: url(../images/page_leaf.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.filter-page {
    background: url(../images/filter.jpg) no-repeat;
    background-size: cover;
    background-position: center;   
}
.dishes-page {
    background: url(../images/dishes.jpg) no-repeat;
    background-size: cover;
    background-position: center;      
}
.leaf-page .logo {
    margin: 0;
    max-width: 200px;
    margin-left: 20px;
}
.swiper-container {
    max-width: 1211px;
    width: 100%;
    height: auto;
    position: relative;
    right: 0;
    padding: 75px 45px;
    margin-right: 20px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    float: right;
}
.swiper-container:after {
    content: '';
    width: 340px;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99; 
    background-image: -webkit-repeating-linear-gradient(left,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 70%,rgb(255, 255, 255) 100%);
    background-image: repeating-linear-gradient(to right,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 70%,rgb(255, 255, 255) 100%);
    background-image: -ms-repeating-linear-gradient(left,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 70%,rgb(255, 255, 255) 100%);
}
.swiper-slide {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code {
    display: block;
    width: 100%;
    text-align: center;
    font: 13px/15px 'TornadoCyr';
    color: #232a3f;
    margin-bottom: 100px;
}
.filter-page .code {margin-bottom: 10px;}
.swiper-slide img {
    display: block;
    max-width: 280px;
    width: 100%;
    height: auto;
    margin: 0 auto 60px;
    transition: all 0.5s;
}
.filter-page .swiper-slide img {
    max-width: 180px;
    margin: 0 auto 10px;
}
.about-info {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.swiper-slide img:hover {transform: scale(1.1);}
.section .about-info h2 {
    font: 32px/34px 'GoodVibesPro';
    width: 100%;
    height: 38px;
    position: relative;
    top: auto;
    bottom: auto;
    display: flex;
    padding: 0 10px;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background: transparent;
    margin-bottom: 10px;
    color: #fff;
}
.section .about-info h3 {
    font: 32px/34px 'GoodVibesPro';
    width: 100%;
    text-align: center;
    color: #232a3f;
    margin-bottom: 20px;
}
.yellow {background: #dc8d30 !important;}
.red {background: #dc5830 !important;}
.green {background: #158f2f !important;}
.blue {background: #213e83 !important;}
.grey {background: #66696b !important;}
.lilac {background: #874d7c !important;}
.blue-light {background: #609dd1 !important;}
.swiper-slide p {
    font: 13px/15px 'TornadoCyr';
    color: #232a3f;
    margin-bottom: 20px;
    min-height: 140px;
}
.temp-time span {
    position: relative;
    margin-right: 20px;
}
.temp-time {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leaf-page .temp-time {max-width: 180px;}
.piramid-page .temp-time,
.filter-page .temp-time {max-width: 220px;}
.piramid-page .temp-time span:last-child,
.filter-page .temp-time span:last-child {margin-right: 0;}
.temp-time .temp:before {
    content: '';
    display: block;
    width: 13px;
    height: 26px;
    background: url(../images/temp-img.png) no-repeat;
    position: absolute;
    left: -20px;
    top: -6px;
}
.temp-time .time:before {
    content: '';
    display: block;
    width: 24px;
    height: 26px;
    background: url(../images/time.png) no-repeat;
    position: absolute;
    left: -30px;
    top: -6px;
}
.temp-time .cup:before {
    content: '';
    display: block;
    width: 37px;
    height: 24px;
    background: url(../images/cup.png) no-repeat;
    position: absolute;
    left: -40px;
    top: -6px;
}
.leaf-page h1 {
    font-size: 85px;
    line-height: 87px;
    color: #232a3f;
    padding-top: 35px;
    text-align: right;
    font-family: 'GoodVibesPro';
    margin-right: 70px;
    margin-bottom: 60px;
}
.piramid-page {
    background: url(../images/piramid-bg.jpg) no-repeat;
    background-size: cover; 
}
.back-link {
    display: block;
    width: 220px;
    height: 45px;
    padding-top: 10px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    font: 36px/38px 'GoodVibesPro';
    color: #000;
    background: rgba(255,255,255,0.6); 
    text-align: center;
    margin-left: 80px;
}
.back-link i {font-size: 36px;}
.contact-holder a {
    color: #000;
    word-wrap: break-word;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../images/next.png);
    right: 30px;
    left: auto;
}
.swiper-button-prev {
    transform: translateY(-50%) rotate(180deg) !important;
    background-image: url(../images/next.png);
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 53px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 53px;
    -webkit-background-size: 27px 53px;
    background-size: 27px 53px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;
}
.dishes-page .code {
    margin-bottom: 20px;
}
.image-holder img {
    margin: 0 auto;
}
.image-holder {
    min-height: 250px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.dishes-page .temp-time {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dishes-page .temp-time span {
    position: relative;
    margin-right: -30px;
}
@media(max-width: 1605px) {
    .logo {
        max-width: 200px;
    }
    #fp-nav ul li .fp-tooltip {
        opacity: 0.6;
        width: auto;
        font: 24px/32px 'GoodVibesPro';
        padding: 5px 15px 0;
    }  
    #fp-nav {
        left: 350px;
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        max-width: 1100px;
        width: 100%;
        top: 100px !important;
    }    
    #fp-nav ul li:nth-child(2) {
        width: auto;
        margin-right: auto;
    }
    #fp-nav ul li:nth-child(3) {
        width: auto;
     margin-right: auto;
    }
    #fp-nav ul li:nth-child(4) {
        width: auto;
        margin-right: auto;
    }
    #fp-nav ul li:nth-child(5) {
        width: auto;
        margin-right: auto;
    }
    #fp-nav ul li:nth-child(6) {
        width: auto;
        margin-right: auto;
    }
    #fp-nav ul li:nth-child(7) {
        width: auto;
        margin-right: auto;
    }
    #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip {
        -webkit-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;
        width: auto;
        opacity: 1;
    }
    h2,
    .page6 h2,
    .page1 h1 {
        font-size: 30px !important;
        line-height: 34px !important; 
    }
    .description {
        width: 90%;
        bottom: 10px;
    }
    .swiper-container {
        max-width: 860px;
        width: 100%;
        height: auto;
        position: relative;
        right: 0;
        padding: 35px 25px;
    }
    .swiper-slide img {
        max-width: 160px;
        margin: 0 auto 20px;
    }
    .back-link {
        margin-left: 20px;
    }
    .code {
        margin-bottom: 55px;
    }
     .temp-time .cup:before {
        content: '';
        display: block;
        width: 24px;
        height: 20px;
        background: url(../images/cup.png) no-repeat;
        position: absolute;
        left: -25px;
        top: -2px;
        background-size: contain;
    }
    .temp-time .temp:before {
        content: '';
        width: 8px;
        height: 20px;
        background: url(../images/temp-img.png) no-repeat;
        position: absolute;
        left: -10px;
        top: -4px;
        background-size: cover;
    }
    .temp-time .time:before {
        content: '';
        display: block;
        width: 18px;
        height: 20px;
        background: url(../images/time.png) no-repeat;
        position: absolute;
        left: -20px;
        top: -4px;
        background-size: cover;
    }
    .section .about-info h2 {
        font: 18px/20px 'GoodVibesPro' !important; 
    }
    .section .about-info h3 {
        font: 22px/24px 'GoodVibesPro';
    }
    .filter-page .swiper-slide img {
        max-width: 90px;
        margin: 0 auto 10px;
    }
    .back-link i {
        font-size: 24px;
    }
    .back-link {
        font: 24px/32px 'GoodVibesPro';
        width: 160px;
        height: auto; 
        padding-top: 5px;
    }
    .link_button {
	    font-size: 14px;
	    line-height: 16px;
	    height: 25px;
	}
}
@media(max-width: 1400px) {
    .leaf-page h1 {
        padding-top: 50px;
    }
    #fp-nav {
        left: 250px;
        max-width: 900px;
        top: 90px !important;
    }
    .logo {
        max-width: 150px;
    }
    
    .section .about-info h2 {
        font: 24px/26px 'GoodVibesPro';
        width: 100%;
        height: 30px;
        letter-spacing: 1px;
        padding: 0 5px;
        padding-top: 5px;
    }
    .section .about-info h3 {
        font: 22px/24px 'GoodVibesPro';
        margin-bottom: 10px;
    }
    .code {
        margin-bottom: 45px;
    }
}
@media(max-width: 1200px) {
    #fp-nav {
        max-width: 900px;
        top: 160px !important;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .logo {
        max-width: 150px !important;
    }
    .leaf-page h1 {
        font-size: 46px;
        line-height: 48px;
        padding-top: 35px;
        margin-right: 50px;
        margin-bottom: 60px;
    }
    .page4 {
        background: url(../images/page4.jpg) no-repeat;
        background-size: cover;
        background-position: top 0px center !important;
    }
    .page5 {
        background: url(../images/page5.jpg) no-repeat;
        background-size: cover;
        background-position: top 0px center !important;
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
}
@media (max-width: 992px) {
    .swiper-container {
        width: 80%;
    }
    #fp-nav ul li .fp-tooltip {
        font: 18px/20px 'GoodVibesPro';
        padding: 5px 10px;
    }
    #fp-nav ul li {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .swiper-container:after {
        display: none;
    }
    .filter-page .swiper-container {
        max-width: 1211px;
        min-height: auto;
        padding: 10px 45px;
        overflow-y: scroll;
    }
    .page6 h2 {
        background: #232a3f !important;
        color: #fff !important;
        font-size: 30px !important;
        line-height: 32px !important;
    }
}
@media (max-width: 768px) {
    .back-link {
        position: relative;
        margin-top: 30px;
        bottom: 0;
    }
    .leaf-page {
        height: auto !important;
        padding-bottom: 30px;
    }
    .swiper-container {
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    .leaf-page .logo {
        max-width: 150px;
    }
    .logo {
        max-width: 200px;
    }
    .section h2 {
        font-size: 20px; 
        line-height: 30px;  
        width: auto;     
    }
    .mouse {
        display: none;
    }
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 43px;
        z-index: 10;
        cursor: pointer;
        -moz-background-size: 20px 43px;
        -webkit-background-size: 20px 43px;
        background-size: 20px 43px;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 9999;
    }
    .logo {
        left: 10px;
    }
    .filter-page .swiper-slide img {
        max-width: 120px;
        margin: 0 auto 10px;
    }
    .description {
        width: 90%;
        bottom: 10px;
    }
    .swiper-button-prev {
        transform: translateY(-50%) rotate(180deg) !important;
        background-image: url(../images/next.png);
        display: block;
    }
    .page4 {
        background: url(../images/page4.jpg) no-repeat;
        background-size: cover;
        background-position: top 0px center !important;
    }
    .page5 {
        background: url(../images/page5.jpg) no-repeat;
        background-size: cover;
        background-position: top 0px center !important;
    }
    .filter-page h1,
    .leaf-page h1 {
        max-width: 300px;
        float: right;
    }
}
@media (max-width: 640px) {
    .logo {
        max-width: 150px;
    }
    .section h2 {
        /*max-width: 300px;*/
        font-size: 16px; 
        line-height: 26px;       
    }
    .link_button {
        font-size: 12px;
        line-height: 14px;
        padding: 5px 6px;
        height: 15px;
    }
    .link_button i {
        font-size: 12px;
    }
    .page1 h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .leaf-page .logo {
        max-width: 120px;
    }
    .leaf-page h1 {
        margin-bottom: 50px;
        font-size: 30px;
        line-height: 32px;
    }
    .swiper-container {
        width: 80%;
    }
    .item-block img {
        max-width: 150px;
        margin-right: 15px;
    }
    .item-block p {
        font-size: 12px;
        line-height: 14px;
    }
}
@media (max-width: 480px) {
    .item-block {
        flex-direction: column;
    }
    .item-block img {
        margin-bottom: 15px;
    }
    .swiper-container {
        width: 80%;
    }
    h1,h2 {
        font-size: 20px !important;
        line-height: 22px !important;
    }
}
@media (max-width: 420px) {
    .logo {
        max-width: 90px !important;
        left: 10px !important;
        margin: 0 !important;
    }
    .leaf-page h1 {
        font-size: 30px;
        line-height: 32px;
        margin-right: 10px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
       right: 0px;
    }
    .swiper-button-prev {
       left: 0px;
    }   
    .back-link {
        display: block;
        width: 220px;
        height: 45px;
        padding-top: 10px;
        position: relative;
        bottom: auto;
        text-align: center;
        margin: 30px auto 0px;
        font-size: 26px;
        line-height: 28px; 
    }
    .back-link i {
        font-size: 26px;
        line-height: 28px; 
    }
    .leaf-page {
        padding-bottom: 40px;
    }
    
    .filter-page .swiper-container {
        max-width: 1211px;
        min-height: initial;
        height: 100%;
        padding: 10px 25px;
        overflow-y: hidden;
    }
    .page6 h2 {
        background: #232a3f !important;
        color: #fff !important;
        font-size: 20px !important;
        line-height: 22px !important;
    }
    .filter-page h1 {
        max-width: 200px;
        float: right;
    }
}
@media (max-width: 380px) {
    .leaf-page h1 {
        font-size: 20px;
        line-height: 22px;
        margin-right: 10px;
    }
    .leaf-page {
        height: auto !important;
        padding-bottom: 30px;
    }
}
@media screen and (max-height: 360px) and (max-width: 640px) {
    .logo {
        max-width: 120px !important;
    }  
    .section h2, .page1 h1 {
        max-width: 100%;
        font-size: 18px !important;
        line-height: 20px !important;
    }
}
@media screen and (max-height: 1024px) and (max-width: 768px) {
    .leaf-page {
        height: 100% !important;
    }
}